astroid==2.2.5
autopep8==1.4.4
cmake==3.13.3
cycler==0.10.0
dlib==19.17.0
gobject==0.1.0
h5py==2.9.0
imutils==0.5.2
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
matplotlib==3.1.1
mccabe==0.6.1
numpy==1.16.4
opencv-python==4.1.0.25
pandas==0.25.0
pkg-resources==0.0.0
pycairo==1.18.1
pycodestyle==2.5.0
pylint==2.3.1
pyparsing==2.4.1.1
python-dateutil==2.8.0
python-vlc==3.0.6109
pytz==2019.1
ruamel.yaml==0.15.100
six==1.12.0
typed-ast==1.4.0
vext==0.7.3
vext.gi==0.7.0
wrapt==1.11.2
